* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navBar {
  background: black;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navBarContainer {
  display: flex;
  justify-content: space-between;
  height: 70px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navBarLogo {
  background-color: hotpink;
  background-image: linear-gradient(to top, rgb(185, 23, 23) 0%, orange 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-gem {
  margin-right: 0.5rem;
}

.navBarMenu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navBarItem {
  height: 80px;
}

.navLinks {
  color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.headder {
  width: 22%;
  margin: auto;
  padding: 4px;
  margin-top: 15px;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 25px;
}

.headder h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 70px;
}

body {
  background-image: url(https://i.redd.it/bs121sfzn7931.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}
